* {
    margin: 0;
}

nav {
    background: lightgray;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;;
}

nav h1 {
    width: 50%;
}

nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

body {
    overflow: scroll;
}

.split-section {
    display: flex;
    width: 100%;
    height: 90vh;
}

.leftside, .rightside {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.googlemaps {
    height: 50%;
    margin-top: 16px;
}

.map-date {
    text-align: right;
}

/* Image Gallery */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 50%;
  padding: 0 8px;
}

.column img {
    margin-top: 16px;
    vertical-align: middle;
    width: 100%;
}

/* hover effects */
.column img {
    transition: transform .2s;
}

.column img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Content formatting */
.italics {
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
}

.content p {
    padding: 5px;
}