.split-section {
    display: flex;
    width: 100%;
    height: 100vh;
}

.leftside, .rightside {
    height: 100vh;
    width: 100%;
}

iframe {
    display: block;
    width: 100%;
    height: 100%;
}